In [2]:
import geopandas
import pandas as pd
from shapely import wkt

Read in the population data

In [35]:
path = "populationGrid.shp"
popGrid = geopandas.read_file(path)

Convert all population and household files to be numeric values (rather than strings which the computer doesn't know how to read)

In [54]:
for col in popGrid.columns:
    if col.lower().find("pop") >= 0 or col.startswith("_Househo"):
        popGrid[col] = popGrid[col].astype('float')
popGrid.to_file("popGridNumeric.shp")

0.9

In [3]:
dummyHouseFilename = "dummyHouses.txt"
rawHouses = pd.read_csv(dummyHouseFilename, sep="\t")

In [4]:
gdf = geopandas.GeoDataFrame(
    rawHouses, geometry=geopandas.points_from_xy(rawHouses.x, rawHouses.y)
)

In [5]:
gdf.crs = 'epsg:6690'
gdf

,fid,x,y,geometry
0,house_0,695997.192410,3.878538e+06,POINT (695997.192 3878538.048)
1,house_1,695982.274173,3.878540e+06,POINT (695982.274 3878539.612)
2,house_2,695967.355936,3.878541e+06,POINT (695967.356 3878541.176)
3,house_3,695952.437698,3.878543e+06,POINT (695952.438 3878542.740)
4,house_4,696007.139232,3.878537e+06,POINT (696007.139 3878537.018)
...,...,...,...,...
112743,house_112743,691937.972676,3.878106e+06,POINT (691937.973 3878105.874)
112744,house_112744,691944.066434,3.878089e+06,POINT (691944.066 3878089.346)
112745,house_112745,691832.299905,3.878052e+06,POINT (691832.300 3878052.203)
112746,house_112746,691822.620076,3.878041e+06,POINT (691822.620 3878040.744)
112747,house_112747,691812.940248,3.878029e+06,POINT (691812.940 3878029.285)

In [6]:
gdf.to_file("buildings.shp")